.title {
    font-family: 'Syne';
    font-weight: 700;
    color: $black;
    line-height: 64px;
    font-size: 48px;
}

.subtitle {
    font-family: 'Space Grotesk';
    font-weight: 400;
    color: $main-color;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}